* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-around;
  background-color: bisque;
}

#login {
  width: 75px;
  height: 40px;
  align-self: center;
  border-radius: 10px;
}

.bookCard {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 200px;
  border: 1px solid black;
  gap: 0.25rem;
}

.bookCard > h3 {
  align-self: center;
}

#bookList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 80%;
  align-self: center;
  justify-content: space-around;
  border: 1px solid blue;
}

input {
    width: 80%;
    align-self: center;
}

label {
    align-self: center;
}

select {
    width: 50%;
    align-self: center;
}

#addBook {
    width: 70%;
    height: 3rem;
    align-self: center;
}

.form-block {
    position: absolute;
  display: flex;
  justify-content: center;
  border: 1px solid red;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 500px;
  background-color:bisque;
}

.main {
    /* position: relative; */
}

.form-block.hidden {
    display: none;
}